{% extends "leonardo/common/_modal.html" %}

{% load thumbnail leonardo_tags leonardo_page_tags %}
{% load i18n staticfiles crispy_forms_tags %}

{% block form_id %}artfolio_form{% endblock %}
{% block form_action %}
{% if copy_view %}
{% app_reverse 'picture_copy' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}
{% else %}
{% app_reverse 'picture_order' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}
{% endif %}
{% endblock %}

{% block modal-body %}
<style type="text/css">
a.full-screen {
    display: none;
}
a.close {
    padding-top: 8px;
}
textarea {
    height: 105px!important;
}
.pretty {
    display: block!important;
    margin-top: 9px!important;
    margin-bottom: 18px!important;
}
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<h4>Název obrazu: <b>{{ picture.translation.name }}</b></h4>
<div class="row">
    <div class="col-md-6 padding-none">
    {% thumbnail picture.image "x350" format="PNG" as image %}
    <img style="width: 250px" class="order-project-image" src="{{ image.url }}" />
    {% endthumbnail %}
    </div>
    <div class="col-md-6 padding-none">
        <p>{% trans "Format" %}: {% for format in picture.image_format.all %}{{ format.translation.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% if picture.status == 'copy' %}
        <p class='status available'>{% trans 'Available' %}</p>
        {% else %}
        <p class="status {{ picture.status }}">{{ picture.get_status_display }}</p>
        {% endif %}
    </div>
</div>
{{ block.super }}
<script type="text/javascript">
$(function(){
    $("#artfolio_form .radio").map(function(){
        $(this).removeClass("radio").addClass("pretty p-default p-round p-smooth");
        $(this).find("input").appendTo($(this));
        $(this).append("<div class='state p-primary'></div>");
        $(this).find("label").appendTo($(this).find(".state"));
    });
    function setButtonSubmitText() {
        if ($("input[value=copy]").is(":checked")) {
            $(".btn-submit-footer-modal").attr("value", "{% trans 'Order copy' %}");
            $("#artfolio_form").attr("action", "{% app_reverse 'picture_copy' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}");
        }
        if ($("input[value=sold_out]").is(":checked")) {
            $(".btn-submit-footer-modal").attr("value", "{% trans 'Reserve' %}");
            $("#artfolio_form").attr("action", "{% app_reverse 'picture_order' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}");
        }
    };
    $("input[type=radio]").click(function(){
        setButtonSubmitText();
    });
    {% if picture.status == 'sold_out' %}
    $("input[value=sold_out]").parent().remove();
    {% endif %}
    {% if copy_view %}
    $("input[value=copy]").trigger("click");
    setButtonSubmitText();
    {% else %}
    $("input[value=sold_out]").trigger("click");
    setButtonSubmitText();
    {% endif %}
});
</script>
{% endblock %}

{% block modal-footer %}
<input class="btn btn-default center-block btn-submit-footer-modal" type="submit" value="{{ submit_label }}" />
{% endblock %}
