{% load i18n %}
{% load leonardo_tags leonardo_page_tags thumbnail %}

<style type="text/css">
.project-image {
    margin: 0px;
    width: 100%;
}
.project-image.image-portrait {
    height: 100vh;
    width: auto;
    margin: 0 auto;
}
.nav-pills li a {
    color: #333333;
}
.nav-stacked.second-nav {
    margin-left: 32px;
    border-left: 1px solid #333333;
}
.bold {
    font-weight: bold;
}
.object-text {
    text-align: center;
}

.object-text a {
    color: #333333;
}

/* info object */

.info-object {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}
.info-object h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding-top: 28px;
    line-height: 20px;
}
.info-object span {
    padding-bottom: 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}
.info-object p {
    font-size: 14px;
}
.info-object .btn-order {
    margin-top: 5px;
}
.info-object .actions {
    padding: 5px 36px;
}

/* categories */
.categories {
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 20;
}
.categories-opened .categories {
    box-shadow: 0px 0px 3px #7d7d7d;
    clip-path: inset(-7px -3px 0px -3px);
}
.object-detail.categories-opened .categories {
    height: 230px;
}
.categories .container {
    padding: 37px 0px;
    display: block;
}
.categories ul .category-item {
    width: calc(100%/10);
    float: left;
    padding: 0px 3px;
}
.categories ul .category-item.active {
    box-shadow: 0px 0px 17px 1px #ccc;
}
.categories ul .category-item img {
    width: 100%;
    border: 1px solid #bfbfbf;
}
.categories ul .category-item span {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 2px;
}

.btn-categories {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    margin-top: -36px;
    padding: 9px 26px;
    left: 100px;
    font-size: 12px;
    width: auto;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    bottom: 0;
    z-index: 22;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 3px #7d7d7d;
    clip-path: inset(-3px -3px 0px -3px);
}
.btn-categories .title {
    display: inline-block;
    padding-right: 20px;
}
.btn-categories .title span {
    font-weight: bold;
    text-transform: lowercase;
}
.btn-categories .arrow {
    border: 2px solid #333;
    border-width: 0 1px 1px 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    margin-left: -1px;
    padding: 5px;
    height: 12px;
    margin-top: 6px;
    display: inline-block;
    position: absolute;
    transition: all 0.5s ease;
}
.object-detail.categories-opened .btn-categories {
    bottom: 230px;
}
.object-detail.categories-opened .btn-categories .arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -2px;
}
.alert-dismissable .close {
    left: -7px;
}

/* similar */
ul.categories-menu.similar-images-preview.slick-slider {
    padding-left: 0;
}
.categories .similar-images-preview .slick-slide {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-height: 120px!important;
}
.categories .similar-images-preview img {
    width: 100%;
    cursor: pointer;
}
.picture-counter {
    padding: 12px 0px 0px 17px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}
.similar-images-preview .object-image span.title {
    display: inline-block;
    margin-top: -20px;
}
.categories .top-panel {
    padding-bottom: 15px;
}
.categories .top-panel .close {
    font-size: 22px;
    padding-top: 5px;
    position: absolute;
    right: 15px;
    z-index: 50;
}
.categories .top-panel .btn-search {
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 126px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    transition: all 0.5s ease;
    z-index: 50;
}
.categories .top-panel .btn-search:hover {
    box-shadow: 2px 4px 20px -3px #bdbdbd;
}

/* fullscreeen */
.btn-fullscreen {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #ffffff;
    z-index: 50;
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding-left: 7px;
    box-shadow: 0px 0px 3px #7d7d7d;
    cursor: pointer;
    transition: all 0.5s ease;
}
.categories-opened .btn-fullscreen {
    bottom: 235px;
}
#pictureFullscreen {
    width: 100vw;
}
#pictureFullscreen .modal-dialog {
    width: 95%;
}
#pictureFullscreen .modal-body .image-portrait {
    margin: 0 auto;
    display: block;
    width: auto;
}
#pictureFullscreen .close {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 36px;
}
#pictureFullscreen .modal-body img {
    width: 100%;
}

/* search tab */
.search-tab {
    opacity: 0;
    margin-left: -100%;
    height: 0;
    transition: all 0.5s ease;
    margin-bottom: 32px;
}
.object-detail.categories-opened.search-tab-opened .search-tab {
    opacity: 1;
    display: block;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 56%;
    height: 50px;
    margin-bottom: 0px;
}
.search-tab input[type=text] {
    min-width: 120px!important;
}
.search-tab .input-group-btn.submit {
    padding-left: 15px;
}
.search-tab .input-group-btn.submit button {
    border: none;
    font-size: 20px;
    margin-top: -4px;
    color: #5a5a5a;
}
.search-tab .bootstrap-select {
    padding: 0px 10px;
}
.search-tab .bootstrap-select button {
    border-radius: 1px!important;
}
.object-detail.categories-opened.search-tab-opened .categories {
    height: 290px;
}
.object-detail.categories-opened.search-tab-opened .top-panel .btn-search {
    top: 30px;
}
.object-detail.categories-opened.search-tab-opened .btn-categories {
    bottom: 290px;
}
.object-detail.categories-opened.search-tab-opened .btn-fullscreen {
    bottom: 298px;
}
.object-image.slick-slide.is-active {
    box-shadow: 1px 4px 20px 10px #a7a7a7;
}
</style>

<div class="object-detail more-info-opened categories-opened" slick-active-index="">
    <div class="row">
        <!-- <h1>{{ object.translation.title }}</h1> -->
        <div class="col-xs-12 padding-none main-images-preview">

            {% for picture in picture_list %}
            <div class="object-image" data-picture-id="{{ picture.id }}"" data-slick-index="{{ forloop.counter0 }}">
                {% thumbnail picture.image "1920x1080" format="PNG" as image %}
                <img class="project-image image-{{ picture.id }}" data-lazy="{{ image.url }}" />
                {% endthumbnail %}
                <script type="text/javascript">
                $(function(){
                    $("<div class='info-object info-slick' data-slick-index='{{ forloop.counter0 }}'>\
                    <h2>{{ picture.translation.name }}</h2>\
                    <span>{% for format in picture.image_format.all %}{{ format.translation.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>\
                    {{ picture.translation.description|escapejs|safe }}\
                    <div class='actions'>\
                    {% if picture.status == 'copy' %}\
                    <p class='status available'>{% trans 'Available' %}</p>\
                    {% else %}\
                    <p class='status {{ picture.status }}'><b>{{ picture.get_status_display }}</b></p>\
                    {% endif %}\
                    {% if picture.status != 'sold_out' %}\
                    <a class='ajax-modal btn btn-order btn-block' href='{% app_reverse 'picture_order' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}'>{% trans 'Reserve' %}</a>\
                    {% endif %}\
                    <a class='ajax-modal btn btn-order btn-block' href='{% app_reverse 'picture_copy' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}'>{% trans 'Order copy' %}</a>\
                    </div>\
                    </div>").appendTo($(".panel-more-info"));
                    $("<span class='btn-title' data-slick-index='{{ forloop.counter0 }}'>{{ picture.translation.name }}</span>").appendTo($(".btn-open-panel"));
                });
                </script>
            </div>
            {% endfor %}

        </div>
        <div class="btn-fullscreen">
            <span data-toggle="modal" data-target="#pictureFullscreen"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
        </div>
        <div class="btn-categories">
            <span class="title">
                {% if search_view %}{% trans "Displayed" %} <span>{{ count_pictures }}</span>{% else %}{% trans "Categories" %}{% endif %}
            </span>
            <span class="arrow"></span>
        </div>
        <div class="categories">
            <div class="container-fluid">
                <div class="top-panel">
                    <span class="btn-search">Vyhledávání <i class="fa fa-search" aria-hidden="true"></i></span>
                    <span class="close">×</span>
                    <div class="search-tab">
                    {% include "leonardo_module_art_folio/search_form.html" %}
                    </div>
                </div>
                <ul class="categories-menu similar-images-preview">
                {% for sim_item in similar %}
                    {% if search_view == True %}
                    <div class="object-image">
                        <span class="title">{{ sim_item.translation.name }}</span>
                        {% thumbnail sim_item.image "250x200" crop="center" format="PNG" as sim_image %}
                        <img class="" data-lazy="{{ sim_image.url }}" />
                        {% endthumbnail %}
                    </div>
                    {% else %}
                    <a href="{% app_reverse 'art_detail_project' 'leonardo_module_art_folio.apps.projects' slug=sim_item.translation.slug %}">
                        <li class="category-item {% if sim_item.translation.slug in request.path %}active{% endif %}">
                            <span>{{ sim_item.translation.name }}</span>
                            {% thumbnail sim_item.primary_image.image "250x130" crop="center" as projectThumb %}
                            <img width="{{ projectThumb.width }}" height="{{ projectThumb.height }}" src="{{ projectThumb.url }}">
                            {% endthumbnail %}
                        </li>
                    </a>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-open-panel more-info">
        <span class="open"></span>
    </div>
    <div class="panel-more-info">
        <span class="close">×</span>
    </div>
    <div id="pictureFullscreen" class="modal modal-lg fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $(".main-images-preview").slick({
        infinite: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        lazyLoad: 'ondemand',
    });
    
    // toggle class more info
    $(".btn-open-panel").click(function(){
        $(".object-detail").toggleClass("more-info-opened");
    });
    $(".panel-more-info .close").click(function(){
        $(".object-detail").toggleClass("more-info-opened");
    });

    // activate search
    if (location.search != "") {
        $(".object-detail").addClass("search-tab-opened");
    }

    // toggle class on catgories
    $(".btn-categories").click(function(){
        $(".object-detail").toggleClass("categories-opened");
    });
    $(".categories .top-panel .close").click(function(){
        $(".object-detail").toggleClass("categories-opened");
    });
    $(".categories .top-panel .btn-search").click(function(){
        $(".object-detail").toggleClass("search-tab-opened");
    });

    // fix slick id
    $(".main-content").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
    
    // go to proper slide
    if (window.location.hash.replace("#/","").indexOf("slick-slide-") >= 0 ) {
        var ID = window.location.hash.replace("#/slick-slide-","");
        var index = $(".slick-slide[data-picture-id='" + ID + "']").attr("data-slick-index");
        $('.main-images-preview').slick("slickGoTo", index);
    }

    // left info panel functions
    function compareInfoContentSlickActive(element) {
        if ($(element).attr("data-slick-index") == $(".main-content").attr("slick-active-index")) {
            $(element).animate({opacity:1},300).show();
        } else {
            $(element).animate({opacity:0},300).hide();
        }
    }
    function compareBtnOpenInfoSlickActive(element) {
        if ($(element).attr("data-slick-index") == $(".slick-current.slick-active").attr("data-slick-index")) {
            $(element).css("right", "0px").css("display", "block");
        } else {
            $(element).css("right", "-42px").css("display", "none");
        }
    }
    // fix portrait picture
    function fixPortraitPicture(element) {
        $(element).map(function(){
            if (($(this).width() - $(this).height()) <= 200) {
                $(this).addClass("image-portrait");
            } else {
                $(this).addClass("normal");
            }
        });
    }
    // add image to modal
    function addImageToModal(element) {
        $("#pictureFullscreen .modal-body").html(element.clone());
    }

    // info inner content, btn onload and portrait picture
    $(".info-object.info-slick").map(function(){
        compareInfoContentSlickActive($(this));
    });
    $(".btn-open-panel .btn-title").map(function(){
        compareBtnOpenInfoSlickActive($(this));
    });
    setTimeout(function(){
        fixPortraitPicture($(".slick-slide[data-slick-index='" + $(".main-content").attr("slick-active-index") + "'] .project-image"));
        addImageToModal($(".slick-slide[data-slick-index='" + $(".main-content").attr("slick-active-index") + "'] .project-image"));
    }, 300);
    
    // info inner content, btn afterChange and portrait picture
    $('.main-images-preview').on('afterChange', function(event, slick, currentSlide, direction){
        $(".main-content").attr("slick-active-index", $(".slick-current.slick-active").attr("data-slick-index"));
        $(".info-object.info-slick").map(function(){
            compareInfoContentSlickActive($(this));
        });
        $(".btn-open-panel .btn-title").map(function(){
            compareBtnOpenInfoSlickActive($(this));
        });
        setTimeout(function(){
            window.location.hash = "#/slick-slide-" +  $(".slick-current").attr("data-picture-id");
            fixPortraitPicture($(".slick-slide[data-slick-index='" + $(".main-content").attr("slick-active-index") + "'] .project-image"));
            addImageToModal($(".slick-slide[data-slick-index='" + $(".main-content").attr("slick-active-index") + "'] .project-image"));
        }, 300);
    });

    // auto hide panels
    function hideInfoPanel() {
        infoTimeOut = setTimeout(function(){
            $(".object-detail").removeClass("more-info-opened");
        }, 4000);
    }
    function hideCategoriesPanel() {
        categoriesTimeOut = setTimeout(function(){
            $(".object-detail").removeClass("categories-opened");
        }, 4000);
    }
    // info actions
    hideInfoPanel()
    $(".panel-more-info").mouseout(function(){
        hideInfoPanel();
    });
    $(".panel-more-info").mouseover(function(){
        setTimeout(function(){
            clearTimeout(infoTimeOut);
        });
    });
    // categories actions
    hideCategoriesPanel()
    $(".categories").mouseout(function(){
        hideCategoriesPanel();
    });
    $(".categories").mouseover(function(){
        setTimeout(function(){
            clearTimeout(categoriesTimeOut);
        });
    });
});
</script>

{% if search_view == True %}
<script type="text/javascript">
$(function(){
    $('.similar-images-preview')
    .on('init', function(event, slick) {
        $(".slick-slide[data-slick-index='" + $(".main-content").attr("slick-active-index")).addClass('is-active');
    })
    .slick({
        swipeToSlide: true,
        slidesToShow: 10,
        slidesToScroll: 3,
        dots: false,
        centerMode: true,
        focusOnSelect: false,
        infinite: false,
        lazyLoad: 'ondemand',
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 5,
                slidesToScroll: 5,
            }
        }, {
            breakpoint: 640,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 4,
            }
        }, {
            breakpoint: 420,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
        }
        }]
    });
    /* sync sliders */
    $('.main-images-preview').on('afterChange', function(event, slick, currentSlide) {
        $('.similar-images-preview').slick('slickGoTo', $(".main-content").attr("slick-active-index"));
        var currrentNavSlideElem = '.similar-images-preview .slick-slide[data-slick-index="' + currentSlide + '"]';
        $('.similar-images-preview .slick-slide.is-active').removeClass('is-active');
        $(currrentNavSlideElem).addClass('is-active');
    });
    $('.similar-images-preview').on('click', '.slick-slide', function(event) {
        event.preventDefault();
        var goToSingleSlide = $(this).data('slick-index');

        $('.main-images-preview').slick('slickGoTo', goToSingleSlide);
    });
});
</script>
{% endif %}
