<h2>{{ order_title }} - {{ order.name }} - {% now "d.m. Y H:i" %}</h2>

<table style="border: 1px solid #e8e8e8;padding: 6px;width: 100%;border-collapse: collapse;">
    <tr style="background-color: #f3f3f3">
        <th style="text-align: left;padding: 8px;">Název obrazu:</th>
        <th style="text-align: left;padding: 8px;">
            {% if domain %}
            <a href="{{ domain }}/admin/leonardo_module_art_folio/projectimage/{{ order.picture.id }}/" target="_blank">{{ order.picture.translation.name }}</a>
            {% else %}
            {{ order.picture.translation.name }}
            {% endif %}
        </th>
    </tr>
    <tr style="background-color: #ffffff">
        <td style="text-align: left;padding: 8px">Jméno:</td>
        <td style="text-align: left;padding: 8px">{{ order.name }}</td>
    </tr>
    <tr style="background-color: #f3f3f3">
        <td style="text-align: left;padding: 8px">Telefon:</td>
        <td style="text-align: left;padding: 8px">{% if order.telephone %}{{ order.telephone }}{% else %}-- nevyplněno --{% endif %}</td>
    </tr>
    <tr style="background-color: #ffffff">
        <td style="text-align: left;padding: 8px">Email:</td>
        <td style="text-align: left;padding: 8px">{{ order.email }}</td>
    </tr>
    <tr style="background-color: #f3f3f3">
        <td style="text-align: left;padding: 8px">Poznámka:</td>
        <td style="text-align: left;padding: 8px">{% if order.note %}{{ order.note }}{% else %}-- nevyplněno --{% endif %}</td>
    </tr>
    <tr style="background-color: #ffffff">
        <td style="text-align: left;padding: 8px">Stav:</td>
        <th style="text-align: left;padding: 8px">{{ order.picture.get_status_display }}</th>
    </tr>
</table>
