{% extends widget.get_base_template %}

{% load i18n leonardo_tags leonardo_page_tags thumbnail %}

{% block content %}
<style>
.main-list {
  padding-top: 80px;
}
button.btn.btn-default {
    height: 34px;
}
</style>
<div class="container main-list">

  <div class="project-list">
    <div class="search-form">
    </div>
    <div class="container">
  {% for project in object_list %}
    <a href="{{ project.get_absolute_url }}">
      <div class="col-sm-4">
        <h3>{{ project.translation.name }}</h3>
        {% thumbnail project.primary_image.image "300x300" as thumb%}
        <img src="{{ thumb.url }}">
        {% endthumbnail %}
      </div>
    </a>
  {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
