{% extends widget.get_base_template %}

{% load i18n thumbnail %}

{% block content %}
<style>
.project-list h3 {
  margin-bottom: 30px;
}
</style>

<div class="project-list">
  <div class="container">
{% for project in object_list %}
  <a href="{{ project.get_absolute_url }}">
    <div class="col-sm-4">
      <h3>{{ project.translation.name }}</h3>
      {% thumbnail project.primary_image.image "300x300" as thumb%}
      <img src="{{ thumb.url }}">
      {% endthumbnail %}
    </div>
  </a>
{% endfor %}
  </div>
</div>

{% endblock %}
