{% extends widget.get_base_template %}

{% load i18n %}
{% load leonardo_tags leonardo_page_tags thumbnail %}

{% block content %}

<style type="text/css">
.project-image {
    width: 70%;
    margin-top: 10px;
}

.nav-pills li a {
    color: #333333;
}

.nav-stacked.second-nav {
    margin-left: 32px;
    border-left: 1px solid #333333;
}

.bold {
    font-weight: bold;
}
.object-text {
    text-align: center;
}

.object-text a {
    color: #333333;
}

/* info object */

.info-object {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}
.info-object h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding-top: 28px;
    line-height: 20px;
}
.info-object span {
    padding-bottom: 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}
.info-object p {
    font-size: 14px;
    padding-bottom: 20px;
}
.close {
    float: left;
    font-size: 20px;
    margin-top: 14px;
    font-weight: bold;
    line-height: 0;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.7;
    filter: alpha(opacity=20);
}

/* button slide open */
.btn-open-panel .btn-title {
    background-color: #fff;
    font-weight: bold;
    height: 40px;
    width: auto;
    right: 0;
    font-size: 12px;
    padding: 12px 24px;
    top: 39px;
    transform: rotate(-90deg) translate(0, -100%);
    transform-origin: 100% 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.more-info-opened .btn-open-panel .btn-title {
    right: -42px!important;
}

/* categories */
.categories {
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 20;
}
.object-detail.categoreis-opened .categories {
    height: 172px;
}
.categories .container {
    padding: 37px 0px;
    display: block;
}
.categories ul .category-item {
    width: calc(100%/8);
    float: left;
    padding: 0px 3px;
}
.categories ul .category-item.active {
    box-shadow: 0px 0px 17px 1px #ccc;
}
.categories ul .category-item img {
    width: 100%;
    border: 1px solid #bfbfbf;
}
.categories ul .category-item span {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 2px;
}

.btn-categories {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    margin-top: -36px;
    padding: 9px 26px;
    left: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    width: auto;
    white-space: nowrap;
    cursor: pointer;
    bottom: 0;
    z-index: 20;
    transition: all 0.5s ease;
}
.btn-categories .title {
    display: inline-block;
    padding-right: 10px;
}
.btn-categories .arrow {
    border: 2px solid #333;
    border-width: 0 1px 1px 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    margin-left: 1px;
    padding: 5px;
    height: 12px;
    margin-top: 6px;
    display: inline-block;
    position: absolute;
    transition: all 0.5s ease;
}
.object-detail.categoreis-opened .btn-categories {
    bottom: 168px;
}
.object-detail.categoreis-opened .btn-categories .arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -2px;
}
.alert-dismissable .close {
    left: -7px;
}
</style>

<div class="object-detail more-info-opened categoreis-opened" slick-active-id="">
    <div class="row">
        <!-- <h1>{{ object.translation.title }}</h1> -->
        <div class="col-xs-12 padding-none main-images-preview">

            {% for picture in object.images.all %}
            <div class="object-image" slick-info-id="info-slick-{{ picture.id }}">
                {% thumbnail picture.image "1920x1080" format="PNG" as image %}
                <img class="project-image" data-lazy="{{ image.url }}" />
                {% endthumbnail %}
                <script type="text/javascript">
                $(function(){
                    $("<div class='info-object info-slick' slick-info-id='info-slick-{{ picture.id }}'>\
                    <h2>{{ picture.translation.name }}</h2>\
                    <span>{{ picture.translation.size }}</span>\
                    {{ picture.translation.description|escapejs|safe }}\
                    <p>{% for tag in picture.categories.all %}{{ tag.translation.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>\
                    <p>{{ picture.get_status_display }}</p>\
                    <a class='ajax-modal' href='{% app_reverse 'picture_order' 'leonardo_module_art_folio.apps.projects' pk=picture.id %}'>Objednat</a>\
                    </div>").appendTo($(".panel-more-info"));
                    $("<span class='btn-title' slick-info-id='info-slick-{{ picture.id }}'>{{ picture.translation.name }}</span>").appendTo($(".btn-open-panel"));
                });
                </script>
            </div>
            {% endfor %}

        </div>
        <div class="btn-categories">
            <span class="title">Kategorie</span>
            <span class="arrow"></span>
        </div>
        <div class="categories">
            <div class="container">
                <ul class="categories-menu">
                {% for project in projects %}
                    <a href="{% app_reverse 'art_detail_project' 'leonardo_module_art_folio.apps.projects' slug=project.translation.slug %}">
                        <li class="category-item {% if project.translation.slug in request.path %}active{% endif %}">
                            <span>{{ project.translation.name }}</span>
                            {% thumbnail project.primary_image.image "x200" as projectThumb %}
                            <img src="{{ projectThumb.url }}">
                            {% endthumbnail %}
                        </li>
                    </a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-open-panel more-info">
        <span class="open"></span>
    </div>
    <div class="panel-more-info">
        <span class="close">X</span>
    </div>
    <div class="category"></div>
</div>
<script type="text/javascript">
$(function(){
    $(".main-images-preview").slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        lazyLoad: 'ondemand',
    });
    
    // toggle class on btn more info
    $(".btn-open-panel").click(function(){
        $(".object-detail").toggleClass("more-info-opened");
    });
    $(".panel-more-info .close").click(function(){
        $(".object-detail").toggleClass("more-info-opened");
    });
    $(".main-content").attr("slick-active-id", $(".slick-current.slick-active").attr("slick-info-id"));

    // toggle class on catgories
    $(".btn-categories").click(function(){
        $(".object-detail").toggleClass("categoreis-opened");
    });

    // left info panel functions
    function compareInfoContentSlickActive(element) {
        if ($(element).attr("slick-info-id") == $(".slick-current.slick-active").attr("slick-info-id")) {
            $(element).animate({opacity:1},300).show();
        } else {
            $(element).animate({opacity:0},300).hide();
        }
    }
    function compareBtnOpenInfoSlickActive(element) {
        if ($(element).attr("slick-info-id") == $(".slick-current.slick-active").attr("slick-info-id")) {
            $(element).css("right", "0px");
        } else {
            $(element).css("right", "-42px");
        }
    }

    // info inner content and btn onload
    $(".info-object.info-slick").map(function(){
        compareInfoContentSlickActive($(this));
    });
    $(".btn-open-panel .btn-title").map(function(){
        compareBtnOpenInfoSlickActive($(this));
    });

    // info inner content and btn afterChange
    $('.main-images-preview').on('afterChange', function(event, slick, direction){
        $(".main-content").attr("slick-active-id", $(".slick-current.slick-active").attr("slick-info-id"));
        $(".info-object.info-slick").map(function(){
            compareInfoContentSlickActive($(this));
        });
        $(".btn-open-panel .btn-title").map(function(){
            compareBtnOpenInfoSlickActive($(this));
        });
    });

    // go to proper slide
    if (window.location.hash.replace("#/","").indexOf("slick-slide-") >= 0 ) {
        var ID = window.location.hash.replace("#/slick-slide-","");
        var slideIndex = $(".object-image[slick-info-id*='info-slick-" + ID + "']").attr("data-slick-index");
        $('.main-images-preview').slick("slickGoTo", slideIndex, "true");
    }
});
</script>
{% endblock %}
